In [14]:
import pandas as pd
import psycopg2

In [15]:
db_params = {
    'host': 'localhost',
    'database': 'project3',
    'user': 'project3postgres',
    'password': 'password',
    'port': '5432'
}

In [16]:
# Variabel to select witch table you want to use
table = 'ethereum'
# SQL query to select data from a table
query = f'SELECT * FROM {table}'

# Create a connection to the PostgreSQL database
connection = psycopg2.connect(**db_params)

# Use pd.read_sql to read data from the database into a DataFrame
df = pd.read_sql(query, connection)
df

C:\Users\Wood\AppData\Local\Temp\ipykernel_28112\3717074628.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

            Date     Open     High      Low    Close  Percent_Change
0     2019-01-01   131.90   140.51   130.67   139.61        5.522527
1     2019-01-02   139.58   155.93   138.74   152.95        8.741419
2     2019-01-03   152.96   154.30   144.39   146.94       -4.096910
3     2019-01-04   146.94   155.40   145.29   152.86        3.872825
4     2019-01-05   152.87   159.78   152.84   153.49        0.403935
...          ...      ...      ...      ...      ...             ...
1326  2022-08-19  1846.52  1846.97  1607.60  1609.48      -14.727738
1327  2022-08-20  1609.01  1654.84  1525.51  1575.60       -2.120462
1328  2022-08-21  1575.61  1644.88  1563.92  1618.25        2.634945
1329  2022-08-22  1618.21  1627.13  1531.91  1626.75        0.524973
1330  2022-08-23  1626.70  1636.32  1615.55  1623.24       -0.213154

[1331 rows x 6 columns]

In [17]:
df.dtypes

Date               object
Open              float64
High              float64
Low               float64
Close             float64
Percent_Change    float64
dtype: object

In [18]:
# Initialize variables
#amount of cash you want to use 
initial_cash = 100  
cash = initial_cash
shares = 0  
total_investment_value = 0
days_since_last_purchase = 0
reset_counter = 0
#how often you want to buy
reset_frequency = 20

In [19]:

# Iterate through the DataFrame
for index, row in df.iterrows():
    # Assuming you want to buy stocks based on the 'open' price
    stock_price = row['Open']
    
    
    
    if reset_counter >= reset_frequency:
        cash = initial_cash
        days_since_last_purchase = 0
        reset_counter = 0
        purchase_fraction = cash / stock_price
        cash -=purchase_fraction * stock_price
        shares += purchase_fraction
        
        total_investment_value = (shares * row['Close'])
        print(f"{row['Date'].strftime('%Y-%m-%d')}: Purchased {purchase_fraction:.4f} shares at ${stock_price:.2f} each.")
        

   

    # Increment days_since_last_purchase and reset_counter
    days_since_last_purchase += 1
    reset_counter += 1

# Output the final result
print(f"\nFinal Result: {shares:.4f} fractional shares owned. Remaining cash: ${cash:.2f}")
print(f"Total Investment Value: ${total_investment_value:.2f}")

2019-01-21: Purchased 0.8509 shares at $117.52 each.
2019-02-10: Purchased 0.8372 shares at $119.44 each.
2019-03-02: Purchased 0.7368 shares at $135.72 each.
2019-03-22: Purchased 0.7401 shares at $135.11 each.
2019-04-11: Purchased 0.5637 shares at $177.39 each.
2019-05-01: Purchased 0.6179 shares at $161.84 each.
2019-05-21: Purchased 0.3989 shares at $250.72 each.
2019-06-10: Purchased 0.4325 shares at $231.21 each.
2019-06-30: Purchased 0.3142 shares at $318.26 each.
2019-07-20: Purchased 0.4543 shares at $220.11 each.
2019-08-09: Purchased 0.4543 shares at $220.12 each.
2019-08-29: Purchased 0.5785 shares at $172.85 each.
2019-09-18: Purchased 0.4812 shares at $207.80 each.
2019-10-08: Purchased 0.5561 shares at $179.81 each.
2019-10-28: Purchased 0.5433 shares at $184.06 each.
2019-11-17: Purchased 0.5483 shares at $182.39 each.
2019-12-07: Purchased 0.6717 shares at $148.88 each.
2019-12-27: Purchased 0.7942 shares at $125.92 each.
2020-01-16: Purchased 0.6008 shares at $166.44 each.
2020-02-05: Purchased 0.5293 shares at $188.94 each.
2020-02-25: Purchased 0.3765 shares at $265.63 each.
2020-03-16: Purchased 0.8042 shares at $124.35 each.
2020-04-05: Purchased 0.6943 shares at $144.03 each.
2020-04-25: Purchased 0.5331 shares at $187.57 each.
2020-05-15: Purchased 0.4919 shares at $203.29 each.
2020-06-04: Purchased 0.4089 shares at $244.53 each.
2020-06-24: Purchased 0.4112 shares at $243.20 each.
2020-07-14: Purchased 0.4171 shares at $239.75 each.
2020-08-03: Purchased 0.2686 shares at $372.26 each.
2020-08-23: Purchased 0.2528 shares at $395.56 each.
2020-09-12: Purchased 0.2676 shares at $373.74 each.
2020-10-02: Purchased 0.2832 shares at $353.06 each.
2020-10-22: Purchased 0.2555 shares at $391.39 each.
2020-11-11: Purchased 0.2221 shares at $450.26 each.
2020-12-01: Purchased 0.1621 shares at $616.78 each.
2020-12-21: Purchased 0.1567 shares at $638.28 each.
2021-01-10: Purchased 0.0784 shares at $1275.87 each.
2021-01-30: Purchased 0.0725 shares at $1379.78 each.
2021-02-19: Purchased 0.0517 shares at $1934.17 each.
2021-03-11: Purchased 0.0557 shares at $1794.28 each.
2021-03-31: Purchased 0.0543 shares at $1841.01 each.
2021-04-20: Purchased 0.0463 shares at $2161.06 each.
2021-05-10: Purchased 0.0255 shares at $3923.48 each.
2021-05-30: Purchased 0.0439 shares at $2276.97 each.
2021-06-19: Purchased 0.0449 shares at $2229.53 each.
2021-07-09: Purchased 0.0472 shares at $2120.05 each.
2021-07-29: Purchased 0.0435 shares at $2299.46 each.
2021-08-18: Purchased 0.0332 shares at $3012.62 each.
2021-09-07: Purchased 0.0255 shares at $3926.84 each.
2021-09-27: Purchased 0.0327 shares at $3061.86 each.
2021-10-17: Purchased 0.0261 shares at $3827.55 each.
2021-11-06: Purchased 0.0223 shares at $4475.00 each.
2021-11-26: Purchased 0.0221 shares at $4520.30 each.
2021-12-16: Purchased 0.0249 shares at $4019.57 each.
2022-01-05: Purchased 0.0264 shares at $3784.47 each.
2022-01-25: Purchased 0.0410 shares at $2441.01 each.
2022-02-14: Purchased 0.0348 shares at $2871.06 each.
2022-03-06: Purchased 0.0375 shares at $2665.42 each.
2022-03-26: Purchased 0.0322 shares at $3103.43 each.
2022-04-15: Purchased 0.0331 shares at $3021.93 each.
2022-05-05: Purchased 0.0340 shares at $2940.70 each.
2022-05-25: Purchased 0.0505 shares at $1979.40 each.
2022-06-14: Purchased 0.0829 shares at $1206.67 each.
2022-07-04: Purchased 0.0931 shares at $1074.07 each.
2022-07-24: Purchased 0.0645 shares at $1549.61 each.
2022-08-13: Purchased 0.0511 shares at $1957.62 each.

Final Result: 19.0419 fractional shares owned. Remaining cash: $0.00
Total Investment Value: $37769.69

In [20]:
#amount of cash you want to invest initially
initial_investment = 1000  
initial_cash = initial_investment
initial_investment_shares = 0

In [21]:
initial_price = df.iloc[0]
current_price = df.iloc[-1]

In [22]:
initial_purchase = (initial_investment/initial_price['Open'])
print(initial_purchase)

7.58150113722517

In [23]:
NAV = initial_purchase * current_price['Close']
print(NAV)

12306.595905989385

In [24]:

actual_NAV = NAV + total_investment_value
print(f"Net Asset Value: ${actual_NAV:.2f}")

Net Asset Value: $50076.28