In [24]:
import pandas as pd
import psycopg2

In [29]:
db_params = {
    'host': 'localhost',
    'database': 'project3',
    'user': 'project3postgres',
    'password': 'password',
    'port': '5432'
}

In [33]:
# Variabel to select witch table you want to use
table = 'nflx'
# SQL query to select data from a table
query = f'SELECT * FROM {table}'

# Create a connection to the PostgreSQL database
connection = psycopg2.connect(**db_params)

# Use pd.read_sql to read data from the database into a DataFrame
df = pd.read_sql(query, connection)
df

C:\Users\Wood\AppData\Local\Temp\ipykernel_28884\1400875298.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

           Date    Open    High     Low   Close  Percent_Change
0    2023-01-30  244.51  245.60  242.20  242.71           -0.74
1    2023-01-31  243.45  247.95  242.95  247.81            1.79
2    2023-02-01  248.00  255.18  245.47  252.75            1.92
3    2023-02-02  258.82  264.69  257.25  264.60            2.23
4    2023-02-03  259.54  264.20  257.10  258.35           -0.46
..          ...     ...     ...     ...     ...             ...
246  2024-01-23  395.75  399.38  393.93  398.90            0.80
247  2024-01-24  401.54  405.63  400.45  402.56            0.25
248  2024-01-25  404.32  407.01  402.53  404.87            0.14
249  2024-01-26  404.37  406.17  402.43  403.93           -0.11
250  2024-01-29  406.06  409.98  404.33  409.72            0.90

[251 rows x 6 columns]

In [16]:
df.dtypes

Date               object
Open              float64
High              float64
Low               float64
Close             float64
Volume            float64
Change            float64
Percent_Change    float64
dtype: object

In [17]:
# Initialize variables
#amount of cash you want to use 
initial_cash = 100  
cash = initial_cash
shares = 0  
total_investment_value = 0
days_since_last_purchase = 0
reset_counter = 0
#how often you want to buy
reset_frequency = 20

In [18]:

# Iterate through the DataFrame
for index, row in df.iterrows():
    # Assuming you want to buy stocks based on the 'open' price
    stock_price = row['Open']
    
    
    
    if reset_counter >= reset_frequency:
        cash = initial_cash
        days_since_last_purchase = 0
        reset_counter = 0
        purchase_fraction = cash / stock_price
        cash -=purchase_fraction * stock_price
        shares += purchase_fraction
        
        total_investment_value = (shares * row['Close'])
        print(f"{row['Date'].strftime('%Y-%m-%d')}: Purchased {purchase_fraction:.4f} shares at ${stock_price:.2f} each.")
        

   

    # Increment days_since_last_purchase and reset_counter
    days_since_last_purchase += 1
    reset_counter += 1

# Output the final result
print(f"\nFinal Result: {shares:.4f} fractional shares owned. Remaining cash: ${cash:.2f}")
print(f"Total Investment Value: ${total_investment_value:.2f}")

2019-01-31: Purchased 1.1815 shares at $84.64 each.
2019-03-01: Purchased 1.2083 shares at $82.76 each.
2019-03-29: Purchased 1.1194 shares at $89.33 each.
2019-04-29: Purchased 1.0262 shares at $97.45 each.
2019-05-28: Purchased 1.0912 shares at $91.64 each.
2019-06-25: Purchased 1.0461 shares at $95.59 each.
2019-07-24: Purchased 1.0156 shares at $98.46 each.
2019-08-21: Purchased 1.0993 shares at $90.97 each.
2019-09-19: Purchased 1.0983 shares at $91.05 each.
2019-10-17: Purchased 1.1133 shares at $89.82 each.
2019-11-14: Purchased 1.1419 shares at $87.57 each.
2019-12-13: Purchased 1.1331 shares at $88.25 each.
2020-01-14: Purchased 1.0606 shares at $94.29 each.
2020-02-12: Purchased 0.9246 shares at $108.16 each.
2020-03-12: Purchased 1.1614 shares at $86.10 each.
2020-04-09: Purchased 0.9784 shares at $102.21 each.
2020-05-08: Purchased 0.8431 shares at $118.61 each.
2020-06-08: Purchased 0.7999 shares at $125.01 each.
2020-07-07: Purchased 0.6539 shares at $152.93 each.
2020-08-04: Purchased 0.6449 shares at $155.06 each.
2020-09-01: Purchased 0.5731 shares at $174.48 each.
2020-09-30: Purchased 0.6367 shares at $157.06 each.
2020-10-28: Purchased 0.6155 shares at $162.46 each.
2020-11-25: Purchased 0.6366 shares at $157.09 each.
2020-12-24: Purchased 0.6262 shares at $159.70 each.
2021-01-26: Purchased 0.6067 shares at $164.82 each.
2021-02-24: Purchased 0.6316 shares at $158.34 each.
2021-03-24: Purchased 0.6347 shares at $157.55 each.
2021-04-22: Purchased 0.5932 shares at $168.58 each.
2021-05-20: Purchased 0.6164 shares at $162.22 each.
2021-06-18: Purchased 0.5747 shares at $174.00 each.
2021-07-19: Purchased 0.5662 shares at $176.63 each.
2021-08-16: Purchased 0.6092 shares at $164.15 each.
2021-09-14: Purchased 0.5754 shares at $173.78 each.
2021-10-12: Purchased 0.6141 shares at $162.85 each.
2021-11-09: Purchased 0.5690 shares at $175.76 each.
2021-12-08: Purchased 0.5677 shares at $176.15 each.
2022-01-06: Purchased 0.6118 shares at $163.45 each.
2022-02-04: Purchased 0.6426 shares at $155.61 each.
2022-03-07: Purchased 0.6876 shares at $145.44 each.
2022-04-04: Purchased 0.6093 shares at $164.12 each.
2022-05-03: Purchased 0.8061 shares at $124.05 each.
2022-06-01: Purchased 0.8179 shares at $122.26 each.
2022-06-30: Purchased 0.9250 shares at $108.11 each.
2022-07-29: Purchased 0.7413 shares at $134.90 each.
2022-08-26: Purchased 0.7323 shares at $136.55 each.
2022-09-26: Purchased 0.8826 shares at $113.30 each.
2022-10-24: Purchased 0.8335 shares at $119.98 each.
2022-11-21: Purchased 1.0642 shares at $93.97 each.
2022-12-20: Purchased 1.1719 shares at $85.33 each.
2023-01-20: Purchased 1.0654 shares at $93.86 each.
2023-02-17: Purchased 1.0225 shares at $97.80 each.
2023-03-20: Purchased 1.0162 shares at $98.41 each.
2023-04-18: Purchased 0.9620 shares at $103.95 each.
2023-05-16: Purchased 0.9005 shares at $111.05 each.
2023-06-14: Purchased 0.7893 shares at $126.70 each.
2023-07-14: Purchased 0.7459 shares at $134.06 each.
2023-08-11: Purchased 0.7278 shares at $137.40 each.
2023-09-11: Purchased 0.7207 shares at $138.75 each.
2023-10-09: Purchased 0.7923 shares at $126.22 each.
2023-11-06: Purchased 0.7207 shares at $138.76 each.
2023-12-05: Purchased 0.6966 shares at $143.55 each.
2024-01-04: Purchased 0.6869 shares at $145.59 each.

Final Result: 51.9610 fractional shares owned. Remaining cash: $0.00
Total Investment Value: $7512.00

In [19]:
#amount of cash you want to invest initially
initial_investment = 1000  
initial_cash = initial_investment
initial_investment_shares = 0

In [20]:
initial_price = df.iloc[0]
current_price = df.iloc[-1]

In [21]:
initial_purchase = (initial_investment/initial_price['Open'])
print(initial_purchase)

13.65001365001365

In [22]:
NAV = initial_purchase * current_price['Close']
print(NAV)

2201.201201201201

In [23]:

actual_NAV = NAV + total_investment_value
print(actual_NAV)

9713.202664078344